@layer mantine {
  .root {
    --ai-bg: transparent;
    border-radius: var(--bz-radius-sm);
    transition:
      background var(--bz-duration-normal) var(--bz-ease-standard),
      color var(--bz-duration-normal) var(--bz-ease-standard);

    color: var(--bz-text-secondary);
    --ai-hover: var(--bz-hover-bg);
    --ai-hover-color: var(--bz-text-primary);

    &[data-variant="gradient"],
    &[data-variant="filled"] {
      color: #fff;
    }
  }
}
