@layer mantine {
  .root {
    border-radius: var(--bz-radius-sm);
    transition:
      background var(--bz-duration-normal) var(--bz-ease-standard),
      transform var(--bz-duration-normal) var(--bz-ease-standard),
      box-shadow var(--bz-duration-normal) var(--bz-ease-standard);

    color: var(--bz-text-primary);

    &[data-variant="filled"],
    &[data-variant="gradient"] {
      color: #fff;
    }

    &[data-variant="danger"] {
      background-color: var(--mantine-color-red-9);
      color: var(--mantine-color-red-0);
    }
  }

  .root:disabled {
    color: var(--bz-text-disabled);

    @include mantine.light {
      color: var(--bz-text-tertiary);
    }
  }
}
