@layer mantine {
  .control {
    --pagination-active-bg: var(--mantine-color-brand-filled);
    border-radius: var(--bz-radius-xs);
    transition:
      background var(--bz-duration-normal) var(--bz-ease-standard),
      border-color var(--bz-duration-normal) var(--bz-ease-standard);

    color: var(--bz-text-secondary);

    &:hover:not([data-active]) {
      background: var(--bz-hover-bg);
    }
  }
}
